#root {
  margin: 0 auto;
  text-align: center;
}
.wave-div {
  min-width: 100vw;
  position: relative;
  height: 250px;
  background: #bfdef2;
}

.wave-div svg {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  padding: 25px 0;
  min-width: 100%;
  background: #bfdef2;
  z-index: 10;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wave-div svg path {
  fill: white;
  transition: fill 350ms ease 0s;
}
.max-width-900px {
  max-width: 900px;
}

.margin-auto {
  margin: auto;
}

.navbar ul {
  margin: 0;
}

.navbar ul li {
  display: inline;
  list-style: none;
  margin: 0px 10px;
}

.navbar button {
  background: transparent;
  padding: 0px;
  border: none;
  vertical-align: bottom;
}

.navbar a {
  position: relative;
  padding: 10px;
  text-decoration: none;
  color: var(--color-text);
  font-weight: var(--font-weight-medium);
  font-size: 1rem;
  border-radius: var(--border-radius);
}

.navbar a:hover {
  color: unset;
  background: rgba(255, 255, 255, 0.256);
  transition: 0.3s;
}
.name {
  display: flex;
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 24px;
  padding: 0px;
  text-decoration: none;
  color: var(--color-primary);
}

.first-name,
.last-name {
  display: inline-block;
  font-weight: var(--font-weight-medium);
}

@media (prefers-reduced-motion: no-preference) {
  .first-name {
    animation: 300ms cubic-bezier(0.27, 0.22, 0.44, 1.03) 750ms 1 normal both
      running first-name;
  }
}

@keyframes first-name {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-6px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .last-name {
    animation: 300ms cubic-bezier(0.27, 0.22, 0.44, 1.03) 750ms 1 normal both
      running last-name;
  }
}

@keyframes last-name {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(6px);
  }
}

.qualities {
  display: flex;
  gap: 15px;
  margin: 0;
  padding-bottom: 40px;
  align-items: center;
  justify-content: space-evenly;
  font: italic 2em "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; /* Combined font shorthand */
  width: 100%;
}

.image {
  border-radius: 4px;
  width: 200px;
}
.Name-image {
  border-radius: 4px;
  width: 350px;
}
.resume-button {
  color: white;
  background-image: linear-gradient(135deg, #2980b9, #6dd5fa);
  border: none;
  border-radius: 25px;
  padding: 12px 24px;

  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.resume-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.6s ease-out;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.resume-button:hover::before {
  width: 0;
  height: 0;
}

.resume-button span {
  position: relative;
  z-index: 1;
}

.resume-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  color: #902646;
}

.heading-h2 {
  font-size: calc(1rem);
  color: var(--color-secondary);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-section {
  display: flex;
  justify-content: center;
}

.about-section > div {
  width: 50%;
}

.about-section img {
  width: 100%;
  border-radius: 10px;
}

.about-me {
  padding-left: 130px;
}

.footer {
  width: 100%;
  padding: 2rem 0;
}
.footer-container {
  max-width: 1140px;
  margin: auto;
  display: inline-flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.left {
  height: 10%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.right {
  height: 100;
  max-width: 100%;

  padding: 1rem;
}
.branch {
  font-weight: bold;
  --tw-text-opacity: 1;
  color: rgb(13 148 136 / var(--tw-text-opacity));
}

.my-images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.AboutMe {
  justify-content: center;
}
.icons {
  display: flex;
  gap: 32px;
}
.aboutme {
  align-items: center;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.title {
  color: #902646;
  font-size: medium;
}
.description {
  font-size: large;
}
ul {
  list-style-type: none;
  padding-left: 5px; 
}

.my-pic {
  margin-top: 25px;
}

.flower-image {
  text-align: left;
}

.flower-image img {
  width: 250px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.card {
  background-color: #bfdef2;
  margin: 10px;
  padding: 50px;
  font-size: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  a {
    color: black;
  }
}

.card:hover {
  transform: translateY(-5px);
}
.certificates {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.sr {
  color: #902646;
  font-weight: bold;
}
.years {
  font-weight: 550;
}
.title-c {
  font-weight: bolder;
 color: blue;
}
.temp {
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px groove #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #bfdef2; 
  font-weight: bold;
}

.education {
  display: flex;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  justify-content: space-around;
}
#education {
  padding: 0px;

}
.course {
  font-weight: bold;
}

