#root {
	margin: 0 auto;
	text-align: center;
}

.wave-div {
	min-width: 100vw;
	position: relative;
	height: 250px;
	background: var(--color-homepage-light);
}

.wave-div svg {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
}

.wave-div svg path {
	fill: var(--color-background);
	transition: fill 350ms ease 0s;
}

.max-width-900px {
	max-width: 900px;
}

.margin-auto {
	margin: auto;
}

.header {
	position: fixed;
	top: 0;
	padding: 25px 0;
	min-width: 100%;
	background: var(--color-homepage-light);
	z-index: 10;
}

.header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar ul {
	margin: 0;
}

.navbar ul li {
	display: inline;
	list-style: none;
	margin: 0px 10px;
}

.navbar button {
	background: transparent;
	padding: 0px;
	border: none;
	vertical-align: bottom;
}

.navbar a {
	position: relative;
	padding: 10px;
	text-decoration: none;
	color: var(--color-text);
	font-weight: var(--font-weight-medium);
	font-size: 1rem;
	border-radius: var(--border-radius);
}

.navbar a:hover {
	color: unset;
	background: rgba(255, 255, 255, 0.256);
	transition: 0.3s;
}

.name {
	display: flex;
	font-size: 24px;
	padding: 0px;
	text-decoration: none;
	color: var(--color-primary);
}

.first-name,
.last-name {
	display: inline-block;
	font-weight: var(--font-weight-medium);
}

@media (prefers-reduced-motion: no-preference) {
	.first-name {
		animation: 300ms cubic-bezier(0.27, 0.22, 0.44, 1.03) 750ms 1 normal both running first-name;
	}
}

@keyframes first-name {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-6px);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.last-name {
		animation: 300ms cubic-bezier(0.27, 0.22, 0.44, 1.03) 750ms 1 normal both running last-name;
	}
}

@keyframes last-name {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(6px);
	}
}

.heading-h2 {
	font-size: calc(1rem);
	color: var(--color-secondary);
	font-weight: var(--font-weight-medium);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.flex {
	display: flex;
}
.footer {
	width: 100%;
	padding: 2rem 0;
}
.footer-container {
	max-width: 1140px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;
}
.left {
	height: 10%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
.right {
	height: 100;
	max-width: 100%;

	padding: 1rem;
}
.branch {
	font-weight: bold;
	--tw-text-opacity: 1;
	color: rgb(13 148 136 / var(--tw-text-opacity));
}
.resume-button {
	color: black;
	background-color: pink;
	border-radius: 0.25rem;
}
