#root {
	margin: 0 auto;
	text-align: center;
}

.wave-div {
	min-width: 100vw;
	position: relative;
	height: 300px;
	background: var(--color-homepage-light);
}

.wave-div svg {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
}

.wave-div svg path {
	fill: var(--color-background);
	transition: fill 350ms ease 0s;
}

.max-width-900px {
	max-width: 900px;
}

.margin-auto {
	margin: auto;
}

.header {
	position: fixed;
	top: 0;
	padding: 35px 0;
	min-width: 100%;
	background: var(--color-homepage-light);
	z-index: 10;
}

.header > div {
	display: flex;
	justify-content: space-between;
}

.navbar ul {
	margin: 0;
}

.navbar ul li {
	display: inline;
	list-style: none;
	margin: 0px 10px;
}

.navbar a {
	position: relative;
	padding: 10px;
	text-decoration: none;
	color: var(--color-text);
	font-weight: var(--font-weight-medium);
	font-size: 1rem;
	border-radius: var(--border-radius);
}

.navbar a:hover {
	color: unset;
	background: rgba(255, 255, 255, 0.256);
	transition: 0.3s;
}
